*.csv
*.gen
*.pdf
*.Rdata
*.RData
*.Rhistory
*.tre
*.txt*
*.xls*
*.docx
*.png
*.jpg
*.svg
*.jpeg
*.tiff
*.eps
*.pptx
*.gz
*.log
*.DAT
*.dat
*.tex
!01_scripts/reference_files/*.txt
*.mix
*.bse
*.emf
*.tgz
*.genepop
*~
*.BCF
03_results/*
02_input_data/*
*.DS_Store

